# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Environnement
.env
.env.local

# Fichiers temporaires
temp/
downloads/
*.mp4
*.webm
*.mkv

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
